<div class="container register-form col-md-12">
    <div class="form">
        
            <div class="note">
                <p>Hoş Geldiniz</p>
            </div>

            <div class="form-content">
                <div class="row">
                    <h1>Müşteri</h1>
                    <p>-Müşteri Eklenir</p>
                    <p>-Müşteri Silinir</p>
                    <p>-Müşteri Güncellenebilir</p>
                </div>

                <div class="row">
                    <h1>Poliçe</h1>
                    <p>-Poliçe Eklenir</p>
                    <p>-Poliçe Silinir</p>
                    <p>-Poliçe Güncellenebilir</p>
                    <p>-Poliçeye Müşteri Eklenebilir</p>
                    <p>-Poliçe'den Müşteri Silinebilir</p>
                    <p>(İlk poliçe eklendikten sonra güncellenip poliçeye kişi ataması yapılmalıdır.)</p>
                </div>


            </div>
        
    </div>
</div>

